@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-bg-welcome {
background-color:hsla(225,39%,30%,1);
background-image:
radial-gradient(at 69% 82%, hsla(164,95%,70%,1) 0px, transparent 50%),
radial-gradient(at 37% 52%, hsla(324,81%,65%,1) 0px, transparent 50%),
radial-gradient(at 69% 40%, hsla(0,87%,63%,1) 0px, transparent 50%);
}

.inp-placeholder::placeholder{
  color: #fff;
}

@media screen and (min-width: 1299px) {
  .c-heading{
  line-height: 3.5rem!important;
}
}
/* white glassmorphism */
.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid white;
}
.blue-glassmorphism {
  background: rgb(39, 51, 89, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}



@tailwind base;
@tailwind components;
@tailwind utilities;